
<style>
.table tbody tr td{
    vertical-align: middle;
}
.table tbody tr th{
    vertical-align: middle;
}
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Level</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.username %></td>
            <td>
                <% if user.level>100 %>
                    管理员
                <% else %>
                    开发者
                <% end %>
            </td>
            <td>
                <%= link_to '删除', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div>
  <%= link_to '新建用户', new_user_path, type: "button", class: "btn btn-primary" %>
</div>