<div id="app">
    <h1>ControlPanel#index</h1>
    <p>Find me in app/views/control_panel/index.html.erb</p>
    hi, <%= @current_user.username %>!
    <%= form_tag('/users/logout', method: 'post') do %>
        <%= submit_tag('logout') %>
    <% end %>
    system: {{ local_server_status.system.description }}<br>
    cpu: {{ local_server_status.cpu.model }}<br>
    memory: {{ (parseInt(local_server_status.memory.mem)/1073741824).toFixed(2) }}G<br>
    <a href="/servers">服务器列表</a><br>
    <a href="/projects">项目列表</a>
</div>

<script>
var app = new Vue({
    el: '#app',
    data: {
        local_server_status: <%== @local_server_status %>
    },
    created: function () {
        //let that = this
        //this.$http.get('/status/cpu').then(function(res){
        //    that.cpu = res.data
        //})
        //setInterval( () => {
        //    this.$http.get('/status/cpu').then(function(res){
        //        that.cpu = res.data
        //    })
        //}, 10000)
    }
})
</script>